{% extends "Base/Base.html" %}

{% block title %}Here Will Be the Title Of the Post{% endblock %}

{% block content %}

            <div class="container">
                <div class="row">
                    <div class="col l12">
                        <div class="xeedk-single z-depth-1">
                            <!-- xeedk Single Image -->
                            <img alt="xeedk Image" src="http://placehold.it/350x235?text=xeedk Image" class="responsive-img">
                            <!-- xeedk Single Description -->
                            <div class="col l8 offset-l2">
                                <a class="btn-floating btn-large waves-effect waves-light"><i class="fa fa-star"></i></a>
                                <!-- xeedk Time -->
                                <div class="xeedk-time">The Village Guide  <i class="fa fa-clock-o"></i> 9 min ago </div>
                                <!-- xeedk Title -->
                                <div class="xeedk-title">Netanyachu's Likud Party Sweeps to Israel election victory</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a arcu enim. Vestibulum euismod orci nec ligula dapibus tristique. Aliquam erat volutpat. Ut eleifend mollis ipsum, id elementum mauris interdum a. Mauris a nibh at diam viverra hendrerit. Ut at nulla justo. Nullam sed pretium felis, ut mattis turpis. </p>
                                <p>Curabitur velit diam, venenatis in maximus et, sagittis sit amet risus. Proin vel tortor dui. Mauris consectetur vitae purus eu sodales. Vestibulum pretium tincidunt nisi, at posuere arcu lobortis id. Vivamus eu massa dictum, pretium nunc vitae, accumsan lorem. Donec condimentum leo in consectetur facilisis. Suspendisse potenti. Cras nunc nisi, ornare volutpat porta ut, posuere id leo. </p>
                                <p>Curabitur erat est, dapibus quis molestie vitae, auctor elementum tellus. Aenean consequat justo neque, vel vulputate eros elementum sit amet. Sed pulvinar hendrerit tellus, faucibus auctor diam aliquam at. Fusce ornare dapibus sapien vel sodales. Cras sit amet lobortis tortor, id fermentum massa. Mauris auctor neque ac scelerisque elementum. Suspendisse vel arcu pretium, fringilla enim sed, pharetra sem. </p>
                                <p>Phasellus varius tortor eu tortor tristique, non dignissim tortor bibendum. Mauris nec pretium sapien. Nam eget magna lorem. Mauris erat sapien, semper vulputate erat ac, posuere lobortis velit. Aliquam consequat tincidunt fringilla. Donec elit dolor, sagittis at ligula in, facilisis dignissim sem. Curabitur at ornare dolor, eget mollis turpis. Pellentesque in justo iaculis, finibus lacus vel, facilisis arcu. </p>
                                <p>Maecenas tincidunt vehicula sapien vel interdum. Aliquam condimentum urna non porttitor fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla in aliquet libero, eget tempus massa. Nam id ipsum iaculis, finibus ligula et, ultrices turpis. Fusce malesuada varius urna, nec convallis lectus maximus nec. Fusce elementum orci ut hendrerit elementum. Integer nec quam ornare, rutrum nulla a, interdum risus. In vel felis vel nulla semper cursus. </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a arcu enim. Vestibulum euismod orci nec ligula dapibus tristique. Aliquam erat volutpat. Ut eleifend mollis ipsum, id elementum mauris interdum a. Mauris a nibh at diam viverra hendrerit. Ut at nulla justo. Nullam sed pretium felis, ut mattis turpis. </p>
                                <p>Curabitur velit diam, venenatis in maximus et, sagittis sit amet risus. Proin vel tortor dui. Mauris consectetur vitae purus eu sodales. Vestibulum pretium tincidunt nisi, at posuere arcu lobortis id. Vivamus eu massa dictum, pretium nunc vitae, accumsan lorem. Donec condimentum leo in consectetur facilisis. Suspendisse potenti. Cras nunc nisi, ornare volutpat porta ut, posuere id leo. </p>
                                <p>Curabitur erat est, dapibus quis molestie vitae, auctor elementum tellus. Aenean consequat justo neque, vel vulputate eros elementum sit amet. Sed pulvinar hendrerit tellus, faucibus auctor diam aliquam at. Fusce ornare dapibus sapien vel sodales. Cras sit amet lobortis tortor, id fermentum massa. Mauris auctor neque ac scelerisque elementum. Suspendisse vel arcu pretium, fringilla enim sed, pharetra sem. </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col l12">
                        <!-- Comment Box -->
                        <div class="comment z-depth-1">
                            <div class="col l12 col m12 col s12">
                                <!-- Comment Title -->
                                <div class="comment-title">Comments</div>
                                <!-- Comment Share it button -->
                                <div class="right">
                                    <a class="waves-effect waves-light btn share">Share It</a>
                                </div>
                                <div class="clearfix"></div>
                                <ul>
                                    <!-- Comment Box -->
                                    <li class="comment-box">
                                        <!-- Comment Image -->
                                        <div class="comment-image">
                                            <img class="responsive-img" src="http://placehold.it/350x235?text=Client Image" alt="news Image">
                                        </div>
                                        <!-- Comment Content -->
                                        <div class="comment-content">
                                            <!-- Comment Name -->
                                            <div class="comment-name">
                                                Sandro Doinitsin
                                            </div>
                                            <!-- Comment Detail -->
                                            <div class="comment-detail">
                                                <p>Curabitur erat est, dapibus quis molestie vitae, auctor elementum tellus</p>
                                            </div>
                                            <!-- Comment Time -->
                                            <div class="comment-time">
                                                13 march in 14:57
                                            </div>
                                        </div>
                                    </li>

                                    <!-- Comment Box -->
                                    <li class="comment-box child">
                                        <!-- Comment Image -->
                                        <div class="comment-image">
                                            <img class="responsive-img" src="http://placehold.it/350x235?text=Client Image" alt="news Image">
                                        </div>
                                        <!-- Comment Content -->
                                        <div class="comment-content">
                                            <!-- Comment Name -->
                                            <div class="comment-name">
                                                Lera Shvets <i class="fa fa-share"></i> Sandro Doinitsin
                                            </div>
                                            <!-- Comment Detail -->
                                            <div class="comment-detail">
                                                <p>Curabitur erat est, dapibus quis molestie vitae, auctor elementum tellus</p>
                                            </div>
                                            <!-- Comment Time -->
                                            <div class="comment-time">
                                                13 march in 14:57
                                            </div>
                                        </div>
                                    </li>

                                    <!-- Comment Box -->
                                    <li class="comment-box child">
                                        <!-- Comment Image -->
                                        <div class="comment-image">
                                            <img class="responsive-img" src="http://placehold.it/350x235?text=Client Image" alt="news Image">
                                        </div>
                                        <!-- Comment Content -->
                                        <div class="comment-content">
                                            <!-- Comment Name -->
                                            <div class="comment-name">
                                                Alla Rozanvo <i class="fa fa-share"></i> Sandro Doinitsin
                                            </div>
                                            <!-- Comment Detail -->
                                            <div class="comment-detail">
                                                <p>Curabitur erat est, dapibus quis molestie vitae, auctor elementum tellus</p>
                                            </div>
                                            <!-- Comment Time -->
                                            <div class="comment-time">
                                                13 march in 14:57
                                            </div>
                                        </div>
                                    </li>

                                    <!-- Comment Box -->
                                    <li class="comment-box child">
                                        <!-- Comment Image -->
                                        <div class="comment-image">
                                            <img class="responsive-img" src="http://placehold.it/350x235?text=Client Image" alt="news Image">
                                        </div>
                                        <!-- Comment Content -->
                                        <div class="comment-content">
                                            <!-- Comment Name -->
                                            <div class="comment-name">
                                                Lera Shvets <i class="fa fa-share"></i> Sandro Doinitsin
                                            </div>
                                            <!-- Comment Detail -->
                                            <div class="comment-detail">
                                                <p>Curabitur erat est, dapibus quis molestie vitae, auctor elementum tellus</p>
                                            </div>
                                            <!-- Comment Time -->
                                            <div class="comment-time">
                                                13 march in 14:57
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

{% endblock %}