{% extends "Base/Base.html" %}

{% block title %}Welcome To XeedK.COM{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col l9 col m12 col s12">
                <div class="row">
                    <ul class="xeeSlide">
                        <li>
                            <!-- xeedk Slider Image -->
                            <img src="http://placehold.it/350/e91e63?text=Slider 1" alt="xeedk Slider 1">
                            <!-- xeedk Slider Content -->
                            <div class="xeedk-content">
                                <div class="xeedk-time"><small>21 Mins Ago</small></div>
                                <div class="xeedk-title big"><h2> <a href="javascript:void(0);">Netanyachu's Likud Party Sweeps to Israel election victory</a> </h2></div>
                                <p class="xeedk-detail">Nullam Quies ante. rhoncus augue pharetra sed. Mauris tincidunt, nunc vitae tristique porta, nisi arcu pulvinar enim, in pretium mi ex quis felis. Integer pharetra sit amet ligula sit amet porttitor. Praesent condimentum augue ut ornare tempor. </p>
                            </div>
                        </li>
                        <li>
                            <!-- xeedk Slider Image -->
                            <img src="http://placehold.it/350/9e9d24?text=Slider 2" alt="xeedk Slider 2">
                            <!-- xeedk Slider Content -->
                            <div class="xeedk-content">
                                <div class="xeedk-time"><small>21 Mins Ago</small></div>
                                <div class="xeedk-title big"><h2><a href="javascript:void(0);"> Party,s Over for frat after ski-resort rampage</a> </h2></div>
                                <p class="xeedk-detail">Nullam Quies ante. rhoncus augue pharetra sed. Mauris tincidunt, nunc vitae tristique porta, nisi arcu pulvinar enim, in pretium mi ex quis felis. Integer pharetra sit amet ligula sit amet porttitor. Praesent condimentum augue ut ornare tempor. </p>
                            </div>
                        </li>
                        <li>
                            <!-- xeedk Slider -->
                            <img src="http://placehold.it/350/689f38?text=Slider 3" alt="xeedk Slider 3">
                            <!-- xeedk Slider Content -->
                            <div class="xeedk-content">
                                <div class="xeedk-time"><small>21 Mins Ago</small></div>
                                <div class="xeedk-title big"><h2><a href="javascript:void(0);"> Reeling Fashion Police gets Sidelined</a> </h2></div>
                                <p class="xeedk-detail">Nullam Quies ante. rhoncus augue pharetra sed. Mauris tincidunt, nunc vitae tristique porta, nisi arcu pulvinar enim, in pretium mi ex quis felis. Integer pharetra sit amet ligula sit amet porttitor. Praesent condimentum augue ut ornare tempor. </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="z-depth-1">
                        <!--  Horizontal xeedk Box -->
                        <div class="xeedk horizontal">
                            <div class="col l4 col m4 col s12 no-padding">
                                <!-- xeedk Image -->
                                <div class="xeedk-image">
                                    <img class="responsive-img" src="http://placehold.it/350x360?text=xeedk Image" alt="xeedk Image">
                                </div>
                            </div>
                            <div class="col l8 col m8 col s12 no-padding">
                                <!-- xeedk Description -->
                                <div class="xeedk-description">
                                    <div class="xeedk-time">
                                        <i class="fa fa-clock-o"></i> 9 min ago
                                    </div>
                                    <div class="xeedk-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna. </a></div>
                                    <div class="xeedk-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus. Mauris bibendum semper quam.</p></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="z-depth-1">
                        <!--  Horizontal xeedk Box -->
                        <div class="xeedk horizontal">
                            <div class="col l4 col m4 col s12 no-padding">
                                <!-- xeedk Image -->
                                <div class="xeedk-image">
                                    <img class="responsive-img" src="http://placehold.it/350x360?text=xeedk Image" alt="xeedk Image">
                                </div>
                            </div>
                            <div class="col l8 col m8 col s12 no-padding">
                                <!-- xeedk Description -->
                                <div class="xeedk-description">
                                    <div class="xeedk-time">
                                        <i class="fa fa-clock-o"></i> 9 min ago
                                    </div>
                                    <div class="xeedk-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna. </a></div>
                                    <div class="xeedk-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus. Mauris bibendum semper quam.</p></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="z-depth-1">
                        <!--  Horizontal xeedk Box -->
                        <div class="xeedk horizontal">
                            <div class="col l4 col m4 col s12 no-padding">
                                <!-- xeedk Image -->
                                <div class="xeedk-image">
                                    <img class="responsive-img" src="http://placehold.it/350x360?text=xeedk Image" alt="xeedk Image">
                                </div>
                            </div>
                            <div class="col l8 col m8 col s12 no-padding">
                                <!-- xeedk Description -->
                                <div class="xeedk-description">
                                    <div class="xeedk-time">
                                        <i class="fa fa-clock-o"></i> 9 min ago
                                    </div>
                                    <div class="xeedk-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna. </a></div>
                                    <div class="xeedk-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus. Mauris bibendum semper quam.</p></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="z-depth-1">
                        <!--  Horizontal xeedk Box -->
                        <div class="xeedk horizontal">
                            <div class="col l4 col m4 col s12 no-padding">
                                <!-- xeedk Image -->
                                <div class="xeedk-image">
                                    <img class="responsive-img" src="http://placehold.it/350x360?text=xeedk Image" alt="xeedk Image">
                                </div>
                            </div>
                            <div class="col l8 col m8 col s12 no-padding">
                                <!-- xeedk Description -->
                                <div class="xeedk-description">
                                    <div class="xeedk-time">
                                        <i class="fa fa-clock-o"></i> 9 min ago
                                    </div>
                                    <div class="xeedk-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna. </a></div>
                                    <div class="xeedk-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus. Mauris bibendum semper quam.</p></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="z-depth-1">
                        <!--  Horizontal xeedk Box -->
                        <div class="xeedk horizontal">
                            <div class="col l4 col m4 col s12 no-padding">
                                <!-- xeedk Image -->
                                <div class="xeedk-image">
                                    <img class="responsive-img" src="http://placehold.it/350x360?text=xeedk Image" alt="xeedk Image">
                                </div>
                            </div>
                            <div class="col l8 col m8 col s12 no-padding">
                                <!-- xeedk Description -->
                                <div class="xeedk-description">
                                    <div class="xeedk-time">
                                        <i class="fa fa-clock-o"></i> 9 min ago
                                    </div>
                                    <div class="xeedk-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna. </a></div>
                                    <div class="xeedk-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus. Mauris bibendum semper quam.</p></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


          </div>
            <div class="col l3 col m6 col s12">
                <div class="row">
                     <div class="xeedk vertical z-depth-1">

                        <div class="xeedk-image">
                            <img class="responsive-img" src="http://placehold.it/350x235?text=xeedk Image" alt="xeedk Image">
                        </div>

                        <div class="xeedk-description">
                            <div class="xeedk-time">
                                <i class="fa fa-clock-o"></i> 9 min ago
                            </div>
                            <div class="xeedk-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur. </a></div>
                            <div class="xeedk-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus.</p></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="xeedk vertical z-depth-1">

                        <div class="xeedk-image">
                            <img class="responsive-img" src="http://placehold.it/350x235?text=xeedk Image" alt="xeedk Image">
                        </div>

                        <div class="xeedk-description">
                            <div class="xeedk-time">
                                <i class="fa fa-clock-o"></i> 9 min ago
                            </div>
                            <div class="xeedk-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur. </a></div>
                            <div class="xeedk-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus.</p></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="xeedk vertical z-depth-1">

                        <div class="xeedk-image">
                            <img class="responsive-img" src="http://placehold.it/350x235?text=xeedk Image" alt="xeedk Image">
                        </div>

                        <div class="xeedk-description">
                            <div class="xeedk-time">
                                <i class="fa fa-clock-o"></i> 9 min ago
                            </div>
                            <div class="xeedk-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur. </a></div>
                            <div class="xeedk-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus.</p></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="xeedk vertical z-depth-1">

                        <div class="xeedk-image">
                            <img class="responsive-img" src="http://placehold.it/350x235?text=xeedk Image" alt="xeedk Image">
                        </div>

                        <div class="xeedk-description">
                            <div class="xeedk-time">
                                <i class="fa fa-clock-o"></i> 9 min ago
                            </div>
                            <div class="xeedk-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur. </a></div>
                            <div class="xeedk-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus.</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l6 col m6 col s12">
                <!-- xeedk Blog Box -->
                <div class="xeedk-blog z-depth-1">
                    <!-- xeedk Blog Image -->
                    <div class="image">
                        <img class="responsive-img" src="http://placehold.it/350x235?text=xeedk Image" alt="xeedk Image">
                    </div>
                    <!-- xeedk Blog Category -->
                    <div class="xeedk-category">
                        <span class="purple">Life</span>
                        <!-- Dropdown -->
                        <div class="xeedk-dropdown">
                            <a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown1"><i class="fa fa-ellipsis-v "></i></a>
                            <ul id="dropdown1" class="dropdown-content">
                                <li><a href="javascript:void(0);">Option 1</a></li>
                                <li><a href="javascript:void(0);">Option 1</a></li>
                                <li><a href="javascript:void(0);">Option 1</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- xeedk Blog Description -->
                    <div class="xeedk-description">
                        <div class="xeedk-time">
                            21 min ago
                        </div>
                        <div class="xeedk-title"> <a href="javascript:void(0);"> Netanyachu's Likud Party <br> Sweeps to Israel election. </a></div>
                        <div class="xeedk-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus <br> non rutrum. Integer ut nisi risus In dapibus ac tellus.</p></div>
                    </div>
                </div>
            </div>
            <div class="col l6 col m6 col s12">
                <!-- xeedk Blog Box -->
                <div class="xeedk-blog z-depth-1">
                    <!-- xeedk Blog Video -->
                    <div class="video-container no-controls">
                        <iframe src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0;autohide=1" allowfullscreen></iframe>
                    </div>
                    <!-- xeedk Blog Category -->
                    <div class="xeedk-category">
                        <span class="orange">Video</span>
                        <!-- Dropdown -->
                        <div class="xeedk-dropdown">
                            <a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown2"><i class="fa fa-ellipsis-v "></i></a>
                            <ul id="dropdown2" class="dropdown-content">
                                <li><a href="javascript:void(0);">Option 1</a></li>
                                <li><a href="javascript:void(0);">Option 1</a></li>
                                <li><a href="javascript:void(0);">Option 1</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- xeedk Blog Description -->
                    <div class="xeedk-description">
                        <div class="xeedk-time">
                            21 min ago
                        </div>
                        <div class="xeedk-title"> <a href="javascript:void(0);"> Party Sweepsto Israel <br> election Victory </a></div>
                        <div class="xeedk-content"><p>et bibendum leo metus vel magna. In dapibus ac <br> tellus non rutrum. Integer ut nisi risus.</p></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col l3 col m6 col s12">
                <!--  Vertical xeedk Box -->
                <div class="xeedk vertical z-depth-1">
                    <!-- xeedk Image -->
                    <div class="xeedk-image">
                        <img class="responsive-img" src="http://placehold.it/350x235?text=xeedk Image" alt="xeedk Image">
                    </div>
                    <!-- xeedk Description -->
                    <div class="xeedk-description">
                        <div class="xeedk-time">
                            <i class="fa fa-clock-o"></i> 9 min ago
                        </div>
                        <div class="xeedk-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur. </a></div>
                        <div class="xeedk-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus.</p></div>
                    </div>
                </div>
            </div>
            <div class="col l3 col m6 col s12">
                <!-- Vertical xeedk Box -->
                <div class="xeedk vertical z-depth-1">
                    <!-- xeedk Image -->
                    <div class="xeedk-image">
                        <img class="responsive-img" src="http://placehold.it/350x235?text=xeedk Image" alt="xeedk Image">
                    </div>
                    <!-- xeedk Description -->
                    <div class="xeedk-description">
                        <div class="xeedk-time">
                            <i class="fa fa-clock-o"></i> 9 min ago
                        </div>
                        <div class="xeedk-title"> <a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna. </a></div>
                        <div class="xeedk-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus In dapibus ac tellus non rutrum</p></div>
                    </div>
                </div>
            </div>
            <div class="col l3 col m6 col s12">
                <!-- Vertical xeedk Box -->
                <div class="xeedk vertical z-depth-1">
                    <!-- xeedk Image -->
                    <div class="xeedk-image">
                        <img class="responsive-img" src="http://placehold.it/350x235?text=xeedk Image" alt="xeedk Image">
                    </div>
                    <!-- xeedk Description -->
                    <div class="xeedk-description">
                        <div class="xeedk-time">
                            <i class="fa fa-clock-o"></i> 9 min ago
                        </div>
                        <div class="xeedk-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna leo metus vel magna. </a></div>
                        <div class="xeedk-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum Integer.</p></div>
                    </div>
                </div>
            </div>
            <div class="col l3 col m6 col s12">
                <!--  Vertical xeedk Box -->
                <div class="xeedk vertical z-depth-1">
                    <!-- xeedk Image -->
                    <div class="xeedk-image">
                        <img class="responsive-img" src="http://placehold.it/350x235?text=xeedk Image" alt="xeedk Image">
                    </div>
                    <!-- xeedk Description -->
                    <div class="xeedk-description">
                        <div class="xeedk-time">
                            <i class="fa fa-clock-o"></i> 9 min ago
                        </div>
                        <div class="xeedk-title"> <a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna. </a></div>
                        <div class="xeedk-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus In dapibus ac tellus non rutrum</p></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}