{% load static from staticfiles %}

<footer class="page-footer">
    <!-- Footer Bottom -->
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
            <!-- Copyright Text -->
            <div class="col l4 col m12 col s12">
                &copy; Copyright 2017 XeedK.Com
            </div>
            <div class="col l4 col m12 col s12">
                <!-- Social Icon -->
                <div class="social-icon">
                    <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-pinterest"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-instagram"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-youtube"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-vine"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-rss"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-tumblr"></i></a>
                </div>
            </div>
            <div class="col l4 col m12 col s12">
                <!-- Footer Menu -->
                <div class="footer-menu">
                    <ul>
                        <li>
                            <a href="javascript:void(0);">Privacy</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
</footer>



<!-- Jquery -->
<script src="{% static 'js/jquery-min.js' %}"></script>
<!-- Materialize JS -->
<script src="{% static 'js/materialize.js' %}"></script>
<!-- Plugin JS -->
<script src="{% static 'js/xeeSlide.js' %}"></script>
<script src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>
<script src="{% static 'js/jquery.liquid-slider.js' %}"></script>
<!-- Custom Js -->
<script src="{% static 'js/init.js' %}"></script>