<ul id="slide-out" class="side-nav full">

    <li class="logo-title"><a href="javascript:void(0);">Xeed Kahn</a></li>


    <li class="waves-effect"><a href="/raspberry_pi"><i class="fa fa-briefcase"></i>Raspberry PI</a></li>

    <li class="waves-effect"><a href="/arduino"><i class="fa fa-plus-square"></i>Arduino</a></li>

    <li class="waves-effect"><a href="/ambient_intelligence"><i class="fa fa-shopping-cart"></i>AMI</a></li>

    <li class="waves-effect"><a href="/artificial_intelligence"><i class="fa fa-user"></i>AI</a></li>

    <li class="waves-effect"><a href="/politics"><i class="fa fa-lock"></i>Politics</a></li>

    <li class="waves-effect"><a href="/programming"><i class="fa fa-rocket"></i>Programming</a></li>

    <li class="waves-effect"><a href="/security"><i class="fa fa-rocket"></i>Security</a></li>

    <li class="waves-effect"><a href="/electronics"><i class="fa fa-plane"></i>Electronics</a></li>

    <li class="waves-effect"><a href="/tutorials"><i class="fa fa-users"></i>Tutorials</a></li>

    <li class="waves-effect"><a href="/contact"><i class="fa fa-phone"></i>Contact Style 1</a></li>

    <li class="waves-effect"><a href="/about"><i class="fa fa-lock"></i>About</a></li>


</ul>
